.navBar {
  position: sticky;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  text-align: center;
  width: 100%;
  float: inline-end;
  color: burlywood;
  background-color: #c5cae9;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  margin: auto;
  top: 0;
  width: 100%;
  opacity: 0.98;

}

.navbar-brand
    {
      font-size: xx-large;
      position: relative;
      right: 200px;
    }

.navbar-collapse
    {
      display: flex;
      position: relative;
      right: 200px;
      align-items: top;
      justify-content: center;
    }

.navBar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navBar .logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar ul li a:hover {
  color: orange;
}
.navBar li a {
  padding: 8px;
  color: burlywood;
  text-decoration: none;
}

.navBar img {
  height: 80px;
  width: 80px;
  /* position: relative;
  right: 150px; */
  align-items: top;
}


